<?xml version="1.0" encoding="utf-8"?>
<odoo>
  
   <record id="view_employee_details_tree" model="ir.ui.view">
         <field name="name">employee.details.tree</field>
         <field name="model">employee.details</field>
         <field name="arch" type="xml">
            <tree>
              <field name="name_id"/>  
              <field name="date"/>
            </tree>
         </field>
   </record>

   <record id="view_employee_details_form" model="ir.ui.view">
         <field name="name">employee.details.form</field>
         <field name="model">employee.details</field>
         <field name="arch" type="xml">
            <form>
               <sheet>
                  <header>
                     <button name="action_submit" string="Submit" class="oe_highlight" type="object"/>
                     <button name="action_verify" string="Verify" class="oe_highlight" type="object"/>
                     <button name="action_cancel" string="Cancel" class="oe_highlight" type="object"/>

                     <field name="state" widget="statusbar" nolabel='1' statusbar_visible="submit,verify,cancel"/>/>
                  </header>   
                  <group>
                        <field name="name_id"/>
                  </group>
                  <group>
                        <field name="date"/>
                  </group>
                  <group>
                        <field name="reason"/>
                  </group>        
               </sheet>  
            </form>
         </field>
   </record>

   <record id="action_employee" model="ir.actions.act_window">
               <field name="name">Employee Details</field>
               <field name="type">ir.actions.act_window</field>
               <field name="res_model">employee.details</field>
               <field name="view_mode">tree,form</field>
               <field name="context">{}</field>
               <field name="help" type='html'>
                    <p class= 'o_view_nocontent_smiling_face'>
                       Create your first employee record!
                    </p>  
               </field>
   </record>

   <menuitem id='menu_duty_root'
              name= 'Duty Resumption'
              sequence='0'/>


   <menuitem id='menu_duty_master'
             name= 'Employee'
             action= 'action_employee' 
             parent='menu_duty_root'
             sequence='20'/>

</odoo> 